:root {
    /* COLORS */
    --white-color: #fff;
    --dark-color: #000000;
    --custom-dark: #263238;
    --gray-color: #8F95A5;
    --custom-gray: #F5F5F5;
    
    /* FONT SIZE */
    --font-size-n: 1rem; /* 16px */
    --font-size-m: 1.25rem; /* 20px */
    --font-size-l: 1.5rem; /*  24px */
    --font-size-xl: 1.8rem; /* 30px */
    --font-size-xxl: 2.25rem; /* 36px  */
    --font-size-xxxl: 3rem; /* 48px */
    --font-size-xxxxl: 4rem; /* 64px */
    
    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    
    /* BORDER RADIUS */
    --border-radius-s:  5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    
    /* SITE MAX WIDTH */
    --site-max-width: 1340px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-weight: var(--font-weight-normal);
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1370px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------------- HEADER START ---------------------------- */
header {
    padding-top: 55px;
    padding-bottom: 50px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    width: 100%;
    max-width: 518px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item-link {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    color: var(--custom-dark);
}

.header__btn {
    padding: 17px 57px;
    border: 2px solid var(--custom-dark);
    border-radius: var(--border-radius-s);
    color: var(--dark-color);
    font-size: var(--font-size-l);
}

#navCheckbox {
    position: absolute;
    left: -9999px;
}

/* Style for the checkbox image */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container img {
    display: none;
    width: 30px;  
    height: auto;
    transition: 0.3s;
}

#navCheckbox:focus + label img {
    outline: 2px dashed orange;
    outline-offset: 4px;
}
/* -------------------------- HEADER END ----------------------------- */

/* ========================== MAIN START ============================ */
/* --------------------------- HEOR START --------------------------- */
.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

.hero__left-wrapper {
    position: relative;
}

.hero__img-lighting {
    position: absolute;
    top: 15%;
    right: -30px;
}

.hero__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxxl);
    line-height: 80px;
    color: var(--dark-color);
    margin-bottom: 40px;
    /* max-width: 396px; */
}

.hero__info {
    font-size: var(--font-size-l);
    color: var(--gray-color);
    margin-bottom: 61px;
}

.hero__btn {
    padding: 32px 117px;
    color: var(--white-color);
    font-size: var(--font-size-xxl);
    background-color: var(--custom-dark);
    border-radius: var(--border-radius-l);
}
/* --------------------------- HEOR END --------------------------- */

/* --------------------------- SKILLS START ---------------------- */
.skills {
    padding-bottom: 252px;
}

.skills__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxl);
    text-align: center;
    margin-bottom: 96px;
}

.skills__cards-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    
    width: 100%;
    gap: 20px;
    max-width: 1340px;
}

.card1 {
    grid-row: span 2;
}

.card4 {
    grid-column: span 2;
    display: flex;
    flex-direction: row-reverse;
    
}

.skill__card-content-wrapper{
    padding-bottom: 44px;
}

.skill__card {
    background-color: var(--custom-gray);
    border-radius: var(--border-radius-m);
    padding: 35px 23px;
    
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.skill__card-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: 80px;
    color: var(--custom-dark);
    margin-bottom: 5px;
}

.skill__card-info {
    font-size: var(--font-size-n);
    color: var(--gray-color);
    margin-bottom: 53px;
}

.skill__card-btn {
    padding: 17px 63px;
    background-color: var(--custom-dark);
    border-radius: var(--border-radius-s);
    color: var(--white-color);
}
.hero__bg-img, .skill__card-img {
    width: 100%;
    height: auto;
}
/* --------------------------- SKILLS END ------------------------- */
/* --------------------------- ABOUT US START --------------------- */
.about-us {
    padding-bottom: 188px;
}

.about-us__content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.about-us__text-wrapper {
    width: 100%;
    max-width: 635px;
}

.about-us__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxl);
    margin-bottom: 23px;
    columns: var(--dark-color);
}

.about-us__info, .about-us__stat-info {
    font-size: var(--font-size-m);
    color: var(--gray-color);
    margin-bottom: 38px;
}

.about-us__statistics {
    display: flex;
    justify-content: space-between;
}

.about-us__stat-num {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxl);
    line-height: 80px;
    color: #2A3246;
}

.about-us__stats{
    display: flex;
    flex-direction: column;
    align-items:center;
}

/* .about-us__img {
width: 100%;
height: auto;
} */
/* --------------------------- ABOUT US END ----------------------- */

/* --------------------------- PRICING START ---------------------- */
.pricing {
    padding-bottom: 144px;
}

.pricing__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pricing__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxl);
    line-height: 80px;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 83px;
}

.pricing__card-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 52px;
}

.pricing__card-title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
    line-height: 48px;
    color: var(--custom-dark);
    margin-bottom: 19px;
}

.pricing__card-info {
    font-size: var(--font-size-m);
    color: var(--gray-color);
    margin-bottom: 31px;
}

.pricing__price {
    background-color: #EEEEEE;
    padding-right: 27px;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: var(--border-radius-s);
}

/* .pricing__img {
width: auto;
height: auto;
} */

/* -------------------------- PRICING END -------------------------- */

/* --------------------------- CONTACT US START --------------------- */
.contact-us {
    padding-bottom: 133px;
}

.contact-us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 111px;
}

.contact-us__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxl);
    line-height: 80px;
    color: var(--dark-color);
}

.contact-us__info {
    font-size: var(--font-size-m);
    color: var(--gray-color);
    margin-bottom: 52px;
}

.contact-us__btn-wrapper {
    display: flex;
    gap: 12px;    
}

.contact-us__input {
    width: 100%;
    max-width: 450px;
    min-width: 283px;
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 33px;
    border: 1px solid var(--dark-color);
    outline: none;
    border-radius: var(--border-radius-m);
}

.contact-us__btn {
    width: 100%;
    max-width: 264px;
    padding-top: 26px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    color: var(--white-color);
    outline: none;
    border-radius: var(--border-radius-m);
}


/* ---------------------------- CONTACT US END ---------------------- */

/* ============================= MAIN END =========================== */

/* ------------------------ MEDIA QUERIES START -------------------- */
@media only screen and (max-width: 1128px){
    .hero__btn {
        padding: 30px 10px;
    }
    
    
}

@media only screen and (max-width: 992px){
    :root {
        /* FONT SIZE */
        --font-size-n: 0.87rem; /* 16px -> 14px */
        --font-size-m: 1rem; /* 20px -> 16px */
        --font-size-l: 1.25rem; /*  24px -> 20px */
        --font-size-xl: 1.3rem; /* 30px -> 22px */
        --font-size-xxl: 1.5rem; /* 36px -> 24px  */
        --font-size-xxxl: 2.25rem; /* 48px -> 36px */
        --font-size-xxxxl: 3rem; /* 64px -> 48px */
    }
    
    /* header responsive*/
    header {
        padding-top: 25px;
        padding-bottom: 68px;
    }
    
    .header__nav {
        max-width: 418px;
    }
    
    .header__btn {
        padding: 12px 40px;
    }
    
    .logo-img {
        width: 89px;
    }
    
    /* hero responsive*/
    .hero__bg-img {
        width: 100%;
        max-width: 460px;
    }
    
    .hero__btn {
        padding: 22px 78px;
    }
    
    .hero__title {
        line-height: 64px;
        margin-bottom: 27px;
    }
    
    .hero__info {
        margin-bottom: 43px;
    }
    /* skills responsive */
    .skills {
        padding-bottom: 106px;
    }
    
    .skills__cards-wrapper{
        max-width: 934px;
    }
    
    .skills__cards-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    .card1 {
        grid-row: span 1;
        grid-column: span 1;
    }
    .card2 {
        grid-row: span 1;
        grid-column: span 1;
    }
    .card3 {
        grid-row: span 1;
        grid-column: span 1;
    }
    .card4 {
        grid-row: span 1;
        grid-column: span 1;
        flex-direction: column;
    }
    /* about-us responsive */
    .about-us__img {
        width: 336px;
    }
    .about-us {
        padding-bottom: 101px;
    }
    /* pricing responsive1 */
    /* pricing responsive */
    .pricing {
        padding-bottom: 139px;
    }
    
    .pricing__img {
        width: 80%;
        height: auto;
    }
    
    .pricing__card-title {
        line-height: 34px;
    }
    /* contact-us responsivce */
    .contact-us__input {
        padding: 5px;
    }
    .contact-us__content {
        gap: 108px;
    }
    .contact-us__img {
        width: 100%;
        max-width: 312px;
    }
    
}

@media only screen and (max-width: 780px) {
    .hero__btn {
        padding: 18px 30px;
    }

    .pricing__price {
        padding-right: 17px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;        
    }
}

@media only screen and (max-width: 768px){
    :root {
        /* FONT SIZE */
        --font-size-n: 0.81rem; /* 16px -> 14px -> 13px */
        --font-size-m: 0.87rem; /* 20px -> 16px -> 14px*/
        --font-size-l: 1rem; /*  24px -> 20px -> 16px*/
        --font-size-xl: 1.25rem; /* 30px -> 22px -> 20px */
        --font-size-xxl: 1.12rem; /* 36px -> 24px -> 18px */
        --font-size-xxxl: 1.87rem; /* 48px -> 36px -> 30px */
        --font-size-xxxxl: 2.25rem; /* 64px -> 48px -> 36px */
    }
    /* header responsive */
    header {
        padding-top: 39px;
        padding-bottom: 40px;
    }
    
    .checkbox-container img {
        display: block;
    }
    
    .header__btn {
        display: none;
    }
    
    .header__nav {
        display: none;
    }
    
    /* hero responsive */
    .hero__bg-img {
        width: 100%;
        max-width: 352px;
    }
    
    .hero__btn {
        padding: 19px 67px;
    }
    
    .hero__title {
        line-height: 45px;
        margin-bottom: 25px;
    }
    
    .hero__info {
        margin-bottom: 32px;
    }
    
    .skills {
        padding-bottom: 52px;
    }
    /* about-us responsive */
    .about-us__img {
        width: 295px;
    }
    .about-us {
        padding-bottom: 93px;
    }
    /* pricing responsive */
    .pricing {
        padding-bottom: 72px;
    }
    
    .pricing__card-title {
        line-height: 28px;
    }

    .contact-us__img {
        width: 100%;
        max-width: 358px;
    }

    .contact-us__content {
        flex-direction: column;
        gap: 33px;
    }
    .contact-us__text-wrapper {
        text-align: center;
    }

    .contact-us__btn-wrapper {
        gap: 0;
    }
}

@media only screen and (max-width: 617px) {
    .hero__btn {
        padding: 15px 30px;
    }
    
    .about-us__content {
        flex-direction: column-reverse;
    }
    
    .about-us__text-wrapper {
        text-align: center;
    }
    
    .about-us__statistics {
        justify-content: space-around;
    }
    .pricing__card-list {
        flex-direction: column;
        align-items: center;
    }
    .pricing__img {
        text-align: center;
    }

    .pricing__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}

@media only screen and (max-width: 576px){
    :root {
        /* FONT SIZE */
        --font-size-n: 0.75rem; /* 16px -> 14px -> 13px -> 12px */
        --font-size-m: 0.87rem; /* 20px -> 16px -> 14px*/
        --font-size-l: 0.87rem; /*  24px -> 20px -> 16px -> 14px*/
        --font-size-xl: 1.12rem; /* 30px -> 22px -> 20px -> 18px */
        --font-size-xxl: 1.12rem; /* 36px -> 24px -> 18px */
        --font-size-xxxl: 1.87rem; /* 48px -> 36px -> 30px */
        --font-size-xxxxl: 2.12rem; /* 64px -> 48px -> 36px -> 34px*/
    }
    
    /* header responsive */
    header {
        padding-bottom: 10px;
    }
    
    #checkboxImage {
        width: 42px;
    }
    
    /* hero responsive */
    .hero__bg-img {
        width: 100%;
        max-width: 424px;
    }
    
    .hero__img-lighting{
        display: none;
    }
    
    .hero__content {
        flex-direction: column-reverse;
    }
    
    .hero__left-wrapper {
        text-align: center;
    }
    
    .hero__btn {
        padding: 24px 102px;
    }
    
    .hero__info {
        margin-bottom: 36px;
    }
    /* skills responsive */
    .skills {
        padding-bottom: 83px;
    }
    
    .skills__cards-wrapper{
        max-width: 698px;
    }
    .skills__cards-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        
    }
    
    .skill__card-img{
        margin: 0 auto;
    }
    .about-us {
        padding-bottom: 24px;
    }
    /* pricing responsive */
    .pricing {
        padding-bottom: 162px;
    }
    
}

@media only screen and (max-width: 453px){
    .skill__card {
        width: 100%;
        max-width: 400px;
    }
    
    .skill__card-btn{
        padding: 15px 30px;
        
    }

    .contact-us__btn-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-us__input {
        padding-top: 20px;
        padding-bottom: 25px;
        width: 100%;
    }

    .contact-us__btn {
        width: 100%;
    }
}

@media only screen and (max-width: 335px){
    .skills {
        padding-bottom: 50px;
    }
    
    .hero__btn {
        padding: 15px 30px;
    }
    
    .about-us__statistics {
        flex-direction: column;
    }
    
}
/* ------------------------ MEDIA QUERIES END ---------------------- */