:root {
       /* COLORS */
       --white-color: #fff;
       --dark-color: #000000;
       --custom-dark: #263238;
       --gray-color: #8F95A5;
       
       /* FONT SIZE */
       --font-size-n: 1rem; /* 16px */
       --font-size-m: 1.25rem; /* 20px */
       --font-size-l: 1.5rem; /*  24px */
       --font-size-xl: 1.8rem; /* 30px */
       --font-size-xxl: 2.25rem; /* 36px  */
       --font-size-xxxl: 3rem; /* 48px */
       --font-size-xxxxl: 4rem; /* 64px */
       
       /* FONT WEIGHT */
       --font-weight-normal: 400;
       --font-weight-medium: 500;
       --font-weight-semibold: 600;
       
       /* BORDER RADIUS */
       --border-radius-s:  5px;
       --border-radius-m: 10px;
       --border-radius-l: 15px;
   
       /* SITE MAX WIDTH */
       --site-max-width: 1340px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-weight: var(--font-weight-normal);
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1370px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------------- HEADER START ---------------------------- */
header {
    padding-top: 55px;
    padding-bottom: 50px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    width: 100%;
    max-width: 518px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item-link {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    color: var(--custom-dark);
}

.header__btn {
    padding: 17px 57px;
    border: 2px solid var(--custom-dark);
    border-radius: var(--border-radius-s);
    color: var(--dark-color);
    font-size: var(--font-size-l);
}

#navCheckbox {
    position: absolute;
    left: -9999px;
}

/* Style for the checkbox image */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container img {
    display: none;
    width: 30px;  
    height: auto;
    transition: 0.3s;
}

#navCheckbox:focus + label img {
    outline: 2px dashed orange;
    outline-offset: 4px;
}
/* -------------------------- HEADER END ----------------------------- */

/* ========================== MAIN START ============================ */
/* --------------------------- HEOR START --------------------------- */
.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

.hero__left-wrapper {
    position: relative;
}

.hero__img-lighting {
    position: absolute;
    top: 15%;
    right: -30px;
}

.hero__title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxxxl);
    line-height: 80px;
    color: var(--dark-color);
    margin-bottom: 40px;
    /* max-width: 396px; */
}

.hero__info {
    font-size: var(--font-size-l);
    color: var(--gray-color);
    margin-bottom: 61px;
}

.hero__btn {
    padding: 32px 117px;
    color: var(--white-color);
    font-size: var(--font-size-xxl);
    background-color: var(--custom-dark);
    border-radius: var(--border-radius-l);
}
/* --------------------------- HEOR END --------------------------- */
/* ============================= MAIN END =========================== */

/* ------------------------ MEDIA QUERIES START -------------------- */
@media only screen and (max-width: 1128px){
    .hero__btn {
        padding: 30px 10px;
    }

    
}

@media only screen and (max-width: 992px){
    :root {
        /* FONT SIZE */
       --font-size-n: 0.87rem; /* 16px -> 14px */
       --font-size-m: 1rem; /* 20px -> 16px */
       --font-size-l: 1.25rem; /*  24px -> 20px */
       --font-size-xl: 1.3rem; /* 30px -> 22px */
       --font-size-xxl: 1.5rem; /* 36px -> 24px  */
       --font-size-xxxl: 2.25rem; /* 48px -> 36px */
       --font-size-xxxxl: 3rem; /* 64px -> 48px */
    }

    /* header responsive*/
    header {
        padding-top: 25px;
        padding-bottom: 68px;
    }

    .header__nav {
        max-width: 418px;
    }

    .header__btn {
        padding: 12px 40px;
    }

    .logo-img {
        width: 89px;
    }

    /* hero responsive*/
    .hero__bg-img {
        width: 100%;
        max-width: 460px;
    }

    .hero__btn {
        padding: 22px 78px;
    }

    .hero__title {
        line-height: 64px;
        margin-bottom: 27px;
    }

    .hero__info {
        margin-bottom: 43px;
    }

}

@media only screen and (max-width: 780px) {
    .hero__btn {
        padding: 18px 30px;
    }
}

@media only screen and (max-width: 768px){
    :root {
        /* FONT SIZE */
       --font-size-n: 0.81rem; /* 16px -> 14px -> 13px */
       --font-size-m: 0.87rem; /* 20px -> 16px -> 14px*/
       --font-size-l: 1rem; /*  24px -> 20px -> 16px*/
       --font-size-xl: 1.25rem; /* 30px -> 22px -> 20px */
       --font-size-xxl: 1.12rem; /* 36px -> 24px -> 18px */
       --font-size-xxxl: 1.87rem; /* 48px -> 36px -> 30px */
       --font-size-xxxxl: 2.25rem; /* 64px -> 48px -> 36px */
    }
    /* header responsive */
    header {
        padding-top: 39px;
        padding-bottom: 40px;
    }

    .checkbox-container img {
        display: block;
    }

    .header__btn {
        display: none;
    }
    
    .header__nav {
        display: none;
    }

    /* hero responsive */
    .hero__bg-img {
        width: 100%;
        max-width: 352px;
    }

    .hero__btn {
        padding: 19px 67px;
    }

    .hero__title {
        line-height: 45px;
        margin-bottom: 25px;
    }

    .hero__info {
        margin-bottom: 32px;
    }

}

@media only screen and (max-width: 617px) {
    .hero__btn {
        padding: 15px 30px;
    }
}

@media only screen and (max-width: 576px){
    :root {
        /* FONT SIZE */
       --font-size-n: 0.75rem; /* 16px -> 14px -> 13px -> 12px */
       --font-size-m: 0.87rem; /* 20px -> 16px -> 14px*/
       --font-size-l: 0.87rem; /*  24px -> 20px -> 16px -> 14px*/
       --font-size-xl: 1.12rem; /* 30px -> 22px -> 20px -> 18px */
       --font-size-xxl: 1.12rem; /* 36px -> 24px -> 18px */
       --font-size-xxxl: 1.87rem; /* 48px -> 36px -> 30px */
       --font-size-xxxxl: 2.12rem; /* 64px -> 48px -> 36px -> 34px*/
    }

    /* header responsive */
    header {
        padding-bottom: 10px;
    }

    #checkboxImage {
        width: 42px;
    }

    /* hero responsive */
    .hero__bg-img {
        width: 100%;
        max-width: 424px;
    }

    .hero__img-lighting{
        display: none;
    }

    .hero__content {
        flex-direction: column-reverse;
    }

    .hero__left-wrapper {
        text-align: center;
    }

    .hero__btn {
        padding: 24px 102px;
    }

    .hero__info {
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 335px){
    .hero__btn {
        padding: 15px 30px;
    }
}
/* ------------------------ MEDIA QUERIES END ---------------------- */